html {
  font-family: "Sen", sans-serif;
  color: rgb(41, 36, 30);
  /* background: #312e2d;
  color: #ecded3; */
}

.main {
  padding: 5em;
  max-width: 1500px;
  margin: 0 auto;
}

a {
  color: rgb(41, 36, 30);
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(212, 155, 85);
  font-weight: bold;
}

h1 {
  font-size: 4em;
  margin: 0;
}

.hero--diagonal {
  position: relative;
  background-color: transparent;
  margin-bottom: 4em;
}

.hero--diagonal::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
  background: rgb(255, 188, 107);
}

.hero__content {
  position: relative;
  z-index: 1;
  padding: 30px;
}
.hero__content h2 {
  margin-top: 0;
  margin-bottom: 2em;
}
#donate-link {
  display: inline-block;
  padding: 0.8em 1.2em;
  border-radius: 10px;
  background: rgb(255, 188, 107);
  text-decoration: none;
}

.donate--box {
  margin: 2em auto;
  border: 1px solid rgb(255, 188, 107);
  border-radius: 2px;
  padding: 1em;
  max-width: 400px;
  text-align: center;
}
@media only screen and (max-width: 35em) {
  .main {
    padding: 2em;
  }
}
