html {
  font-family: "Sen", sans-serif;
  color: rgb(41, 36, 30);
  /* background: #312e2d;
  color: #ecded3; */
}

body {
  height: 100%;
  position: relative;
}

.main {
  padding: 5em;
  max-width: 1500px;
  margin: 0 auto;
}

p a {
  color: rgb(41, 36, 30);
  /* text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  text-decoration-color: rgb(212, 155, 85); */
  height: calc(1em + 4px);
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid rgba(236, 174, 99, 0.875);
  font-weight: bold;
  transition: all 0.2s;
}

p a:hover {
  background: rgba(236, 174, 99, 0.875);
}

h1 {
  font-size: 4em;
  margin: 0;
}

.name {
  font-size: 1.2em;
}

.quote {
  max-width: 800px;
  margin: 4em auto;
}

.quote__text {
  font-size: 2em;
  /* font-weight: bold; */
}

.hero--diagonal {
  position: relative;
  background-color: transparent;
  margin-bottom: 4em;
}

.hero--diagonal::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
  background: rgb(255, 188, 107);
}

.hero__content {
  position: relative;
  z-index: 1;
  padding: 30px;
}

.hero__content h2 {
  margin-top: 0;
  margin-bottom: 2em;
}

.hero__content h3 {
  font-weight: normal;
  /* font-style: italic; */
  font-size: 1em;
  padding-left: 8px;
  margin-bottom: 0;
}

.donate-link {
  display: inline-block;
  padding: 0.3em 1em;
  border-radius: 10px;
  background: rgb(41, 36, 30);
  color: rgb(255, 234, 207);
  text-decoration: none;
  transform: scale3d(1, 1, 1);
  transition: all 0.2s;
  box-shadow: 0 0 30px -10px rgb(218, 97, 255);
}

.donate-link:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.donate--box .donate-link {
  display: inline-block;
  padding: 0.6em 1.1em;
  border-radius: 10px;
  /* color: rgb(41, 36, 30);
  background: rgb(255, 188, 107); */
  text-decoration: none;
}

.donate--box {
  margin: 2em auto;
  border: 1px solid rgb(255, 188, 107);
  background: rgb(255, 188, 107);
  border-radius: 2px;
  padding: 2em 3em;
  max-width: 400px;
  text-align: center;
}

.hero--image-container {
  position: absolute;
  display: block;
  width: 100%;
  height: calc(100% + 100px);
  top: -50px;
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
  mix-blend-mode: overlay;
  opacity: 0.5;
}

.hero--image-container:before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px));
}

.hero--image-container img {
  position: absolute;
  top: -50px;
  width: 100%;
  height: calc(100% + 50px);
  object-fit: cover;
  /* max-width: 100%; */
}

.intro {
  font-size: 1.2em;
  /* clip-path: polygon(0% 0%, 100% 50px, 100% 100%, 0% calc(100% - 50px)); */

  background: rgb(255, 255, 255);
  mix-blend-mode: overlay;
  z-index: 3;
}

.intro:before {
  clip-path: polygon(0% 50px, 100% 0%, 100% 100%, 0% calc(100% - 50px));
  background: rgb(255, 255, 255);
}

.intro .hero--image-container {
  mix-blend-mode: unset;
  clip-path: polygon(0% 50px, 100% 0%, 100% 100%, 0% calc(100% - 50px));
  opacity: 0.2;
}

.blurs {
  position: absolute;
  z-index: 2;
  width: 100%;
  mix-blend-mode: overlay;
  opacity: 0.5;
  overflow-x: hidden;
  height: 100%;
  pointer-events: none;
  filter: blur(100px);
}

.blurs div {
  position: absolute;
  mix-blend-mode: soft-light;
  /* filter: blur(180px); */
}

.blur1 {
  width: 40vw;
  height: 40vw;
  min-width: 300px;
  min-height: 300px;
  background: rgb(255, 188, 107);
  border-radius: 50%;
  top: 10vw;
  right: 0;
}

.blur2 {
  width: 50vw;
  height: 40vw;
  min-height: 300px;
  min-width: 300px;
  background: rgb(242, 58, 255);
  top: 15%;
  left: 0;
  border-radius: 50%;
}

.blur3 {
  width: 50vw;
  height: 60vw;
  min-height: 300px;
  background: rgb(121, 212, 153);
  top: 20%;
  right: 50px;
  border-radius: 50%;
}

.blur4 {
  width: 150vw;
  height: 60vw;
  min-height: 800px;
  background: rgb(165, 197, 255);
  top: 28%;
  left: 50px;
  border-radius: 50%;
}

.blur5 {
  width: 90vw;
  height: 80vw;
  min-height: 700px;
  min-width: 400px;
  background: rgb(253, 214, 166);
  top: 50%;
  left: -20%;
  border-radius: 50%;
}

@media only screen and (max-width: 500px) {
  .main {
    padding: 2em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
}
